<?xml version="1.0" encoding="UTF-8"?>
  <configuration>
    <location path="smonk">
      <system.webServer>
        <httpRedirect enabled="true" destination="https://noverus.com" httpResponseStatus="Permanent" />
      </system.webServer>
    </location>
    <location path="audio">
      <system.webServer>
        <httpRedirect enabled="true" destination="https://noverusav.com" httpResponseStatus="Permanent" />
      </system.webServer>
    </location>
  </configuration>
